*{
  box-sizing:border-box;

}
.continer{
 max-width:1170px;
 width:100%;
  margin:0 auto;
  
  
 
}
.top-wrapper{
  padding-top:180px;
  padding-bottom:100px;
  background-image:url("gahag-0007554159-2.jpg");
  background-size:cover;
  height:750px;
  width:100%;
  margin:0 auto;
  margin-top:120px;
  text-align:center;
  color:rgb(10, 8, 8);
  border:10px solid black;
  border-radius:18px;
  
  
}
.top-wrapper h1 {
  opacity:0.6;
  font-size:45px;
  letter-spacing:5px;
}
.top-wrapper p{
  opacity:0.6;
}
header{
  background-color:rgb(126, 255, 176);
  height:110px;
  position:fixed;
  top:0;
  right:10%;
  width:80%;
  Z-INDEX:10;
  opacity:0.8;
  box-shadow:black 10px 10px;
  border:10px solid black;
  border-radius:18px;
  padding:0 8px;
}
.logo{
  float:left;
  font-size:50px;
  font-family:'Londrina Shadow', cursive;
  color:rgb(235, 51, 5);
  line-height:90px;
}
.login{
  float:right;
  line-height:90px;
}
.btn{
  display:inline-block;
  border-radius:6px;
  background-color:rgb(245, 230, 18);
  color:rgb(27, 233, 171);
  font-size:20px;
  box-shadow:black 4px 4px;
  
}
.btn2{
  display:block;
  border-radius:6px;
  background-color:rgb(245, 230, 18);
  color:rgb(27, 233, 171);
  font-size:50px;
  box-shadow:black 4px 4px;
  margin-bottom:20px;
}
.btn:hover{
  background-color:orangered;
  
}
.btn2:hover{
  background-color:orangered;
 

}
.btn:active{
  position:relative;
  top:4px;
  box-shadow:none;
}
.btn2:active{
  position:relative;
  top:4px;
  box-shadow:none;
}
.skills{
  padding:100px 50px 100px 50px;
 
  text-align:center;
  border:10px solid black;
  border-radius:18px;
}
.images{
  padding:80px 50px;
}
img{
  width:15%;
  margin:0 10px;
}
.skills h2{
  font-size:45px;
}
.recommend{
  padding:100px 50px 100px 50px;
 
  text-align:center;
  border:10px solid black;
  border-radius:18px;
}
footer{
  height:280px;
  background-color:royalblue;
  border:10px solid black;
  border-radius:18px;
}
.blogtw{
  padding:100px 50px 100px 50px;
  text-align:center;
  
  border:10px solid black;
  border-radius:18px;
}
.blogtwa{
  display:block;
}
.fab{margin-right:20px;}
.image:hover{
  opacity:0.6;
}
.image{
  box-shadow:black 4px 4px;
}
.image:active{
  position:relative;
  top:4px;
  box-shadow:none;
}
.works{
  height:400px;
 
  
  padding:100px 50px 100px 50px;
 
  text-align:center;
  border:10px solid black;
  border-radius:18px;
}
works h2{
  font-size:45px;
}
